[submodule "devopscaseback"]
	path = devopscaseback
	url = https://github.com/YohansN/devopscaseback.git
	branch = main
[submodule "devopscasefront"]
	path = devopscasefront
	url = https://github.com/YohansN/devopscasefront.git
	branch = main